
@mixin customInput ($box-sizing, $height, $border-radius, $width, $font-size, $padding, $outline) {
  box-sizing: $box-sizing;
  height: $height;
  border-radius: $border-radius;
  width: $width;
  font-size: $font-size;
  padding: $padding;
  outline: $outline;
}

.fio {
  padding-bottom: 40px;
  input {
    width: 300px;
  }
}

.birth {
  padding-bottom: 40px;
  input {
    @include customInput(border-box, 39px, 4px, 180px, 16px, 0 10px, none)
  }
}

.phone {
  padding-bottom: 40px;
  input {
    border: 1px solid #ccc;
    @include customInput(border-box, 39px, 4px, 300px, 16px, 0 10px, none)
  }
}
.groupClients {
  padding-bottom: 20px;
  .selectClient {
    @include customInput(border-box, 39px, 4px, 300px, 16px, 0 10px, none)
  }
}
.doctor {
  padding-bottom: 20px;
  .selectDoctor {
    @include customInput(border-box, 39px, 4px, 180px, 16px, 0 10px, none)
  }
}
.sms {
  padding-bottom: 20px;
}