.fio {
  padding-bottom: 40px;
  input {
    width: 300px;
  }
}

.birth {
  padding-bottom: 40px;
  input {
    box-sizing: border-box;
    height: 39px;
    border-radius: 4px;
    width: 180px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
  }
}

.phone {
  padding-bottom: 40px;
  input {
    width: 300px;
    box-sizing: border-box;
    height: 39px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
  }
}
.groupClients {
  padding-bottom: 20px;
  .selectClient {
    width: 300px;
    box-sizing: border-box;
    height: 39px;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
  }
}
.doctor {
  padding-bottom: 20px;
  .selectDoctor {
    box-sizing: border-box;
    height: 39px;
    border-radius: 4px;
    width: 180px;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
  }
}
.sms {
  padding-bottom: 20px;
}